h1{
    color: violet;
font-family: cursive;
font-size: 50px;
text-align: center;

}
body{
background-image: url(./img/709032.jpg);
}
.container{
    display: flex;
    justify-content: space-around;
font-family: cursive;
font-size: 30px;
padding-left: 20px;

}
.morango{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(61, 66, 66);
}
.morango{
    font-size: 30px;
    color: blueviolet;

}
#mor{
    color: black;
}
li{
 font-size: 30px;
 font-family: cursive;
 color: rgb(67, 238, 90);
 
}
h2{
font-size: 40px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: bisque;
}
.class{
  
}
.laranja{
    display: flex;      
}
img{
    height: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid paleturquoise;
}




